.main {
  display: flex;
}

.block {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0 30px;
}

.selected-option {
  margin-bottom: 20px;
}

.s-typeahead-wrapper {

}

.s-typeahead-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  outline: none;
  border: 1px solid #D6D2D2;
  box-sizing: border-box;
}

.s-typeahead-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.s-typeahead-list-item {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
}

.s-typeahead-list-item:last-child {
  border: none;
}

.s-typeahead-list-item--selected, .s-typeahead-list-item:hover {
  background: cornflowerblue;
}
